enable-pre-post-scripts=true
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*unrs-resolver*
auto-install-peers=true
strict-peer-dependencies=false
frozen-lockfile=false
prefer-frozen-lockfile=false 